<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" ng-href="#/user/{{model.uid}}"></a>
            Website
        </div>

        <a class="navbar-brand pull-right" ng-href="#/user/{{model.uid}}/website/new">
            <span class="glyphicon glyphicon-plus icon-default"></span>
        </a>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <div class="list-group-item" ng-repeat="website in model.websites" >
            <a ng-href="#/user/{{model.uid}}/website/{{website._id}}/page" style="width:90%; display:inline-flex;">{{website.name}}</a>
            <a class="glyphicon glyphicon-cog pull-right" ng-href="#/user/{{model.uid}}/website/{{website._id}}"></a>
        </div>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" ng-href="#/user/{{model.uid}}"></a>
    </div>
</nav>
