input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}

.navbar-default {
    background-color: #447fff;
}

.navbar-default .navbar-brand {
    color: rgba(244, 247, 249, 0.99);
}

.icon-default {
    color: rgba(244, 247, 249, 0.99);
}