input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-brand {
    color: rgba(24, 24, 24, 0.91);
}

.icon-default {
    color: rgba(10, 10, 10, 0.99);
}

.list-group-item {
    color: red;
    font-color: #447fff;
}

.upload-div{
    border-color: black;
}

.widget-image{
    height:auto;
    width:100%;
}
.widget-youtube{
    height:auto;
    width:100%;
}

.widget-cog-pannel{
    background-color:white;
    position:relative;
    right:0px;
    top:0px;
    float:right;
    display:inline;
}
.widget-icon{
    /*position:absolute;*/
    width: 20px;
    background: white;
}
