<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" href="website-list.html"></a>
            Pages
        </div>

        <a class="navbar-brand pull-right" href="page-new.html">
            <span class="glyphicon glyphicon-plus icon-default"></span>
        </a>
    </div>
</nav>


<div class="container" ng-controller="PageController">
    <ul class="list-group">
        <div class="list-group-item" ng-repeat="page in pages">
            <a href="widget-list.html" style="width:90%; display:inline-flex;">{{page.name}}</a>
            <a class="glyphicon glyphicon-cog pull-right" href="page-edit.html"></a>
        </div>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" href="profile.html"></a>
    </div>
</nav>
