<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
            <a class="navbar-brand">
                Profile
            </a>

            <a class="navbar-brand pull-right" href="#/user/0">
                <span class="glyphicon glyphicon-ok icon-default"></span>
            </a>

            <!-- todo: switch between view and edit mode -->
    </div>
</nav>

<div class="container">
    <h1>Profile</h1>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/0/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
</nav>
