<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" href="widget-list.html"></a>
            Widget Edit
        </div>

        <a class="navbar-brand pull-right" href="widget-list.html">
            <span class="glyphicon glyphicon-ok icon-default"></span>
        </a>
    </div>
</nav>


<div class="container">
    <div ng-repeat="mem in YOUTUBE_MEM">
        <label ng-attr-for="{{men}}">{{mem}}</label>
        <input type="text" class="form-control" ng-attr-id="{{mem}}" placeholder="Video {{mem}}">
    </div>

    <a class="btn btn-danger  btn-block" href="widget-list.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" href="profile.html"></a>
    </div>
</nav>
