<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"></a>
            Add Widget
        </div>
    </div>
</nav>


<div class="container">
    <ul class="list-group">
        <a class="list-group-item" ng-repeat="(type, attrs) in model.types"  ng-click="model.newWidget(type);">
            <font color="#6495ed">{{type}}</font>
        </a>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" ng-href="#/user/{{model.uid}}"></a>
    </div>
</nav>
