<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/"></a>
            Widget Edit
        </div>

        <a class="navbar-brand pull-right" ng-click="model.save();">
            <span class="glyphicon glyphicon-floppy-disk icon-default"></span>
        </a>
    </div>
</nav>


<div class="container">
    <div ng-repeat="mem in model.types[model.type]">
        <label ng-attr-for="{{men}}">{{mem}}</label>
        <input type="text" class="form-control" ng-attr-id="{{mem}}"
               ng-model="model.widget[mem]" placeholder="{{model.type.toLowerCase()}} {{mem}}">
    </div>

    <form  ng-if="model.type == 'IMAGE'">
        <label> Choose from file </label>
        <input type="file" file-model="file" class="form-control"/>

        <label> Search in Flicker </label>
        <div class="input-group-btn" style="display:flex">
        <input ng-model="searchText" type="text" class="form-control" style="flex:2 0 81vw">
        <a ng-click="model.searchPhotos(searchText);" class="btn btn-default" style="margin-bottom:5px;">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </div>

        <a class="btn btn-block btn-primary" ng-click="model.uploadFile()">Upload Image</a>
    </form>

    <div class="container-fluid">
        <div class="col-xs-4" ng-repeat="photo in model.photos">
            <img ng-click="model.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"
                 style="margin: 2px 0 2px 0;"/>
        </div>
    </div>

    <a class="btn btn-danger  btn-block" ng-click="model.delete()" style="margin-top: 5px;">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" ng-href="#/user/{{model.uid}}"></a>
    </div>
</nav>
