<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" href="page-list.html"></a>
            Widgets
        </div>

        <a class="navbar-brand pull-right" href="widget-choose.html">
            <span class="glyphicon glyphicon-plus icon-default"></span>
        </a>
    </div>
</nav>


<div class="container">
   <div ng-repeat="widget in widgets">
       <div class="container">
           <div  class="widget-cog-pannel">
               <a class="widget-icon glyphicon glyphicon-cog" ng-href="widget-{{widget.type}}.html"></a>
               <a class="widget-icon glyphicon glyphicon-menu-hamburger" ></a>
           </div>

           <div ng-if="widget.type == TYPE.HEADING">
               <h2>{{widget.content}}</h2>
           </div>

           <div ng-if="widget.type == TYPE.IMAGE">
               <img class="widget-image" ng-src="{{widget.content}}" >
           </div>

           <div ng-if="widget.type == TYPE.YOUTUBE">
               <iframe class="widget-youtube" ng-src="{{widget.content | trustUrl}}" allowfullscreen></iframe>
           </div>

       </div>
   </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" href="profile.html"></a>
    </div>
</nav>
