<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"></a>
            Widget Edit
        </div>

        <a class="navbar-brand pull-right" ng-click="model.save();">
            <span class="glyphicon glyphicon-floppy-disk icon-default"></span>
        </a>
    </div>
</nav>


<div class="container">
    <div ng-repeat="mem in model.types[model.type]">
        <label ng-attr-for="{{men}}">{{mem}}</label>
        <input type="text" class="form-control" ng-attr-id="{{mem}}"
               ng-model="model.widget[mem]" placeholder="{{model.type.toLowerCase()}} {{mem}}">
    </div>
        <div class="form-group" ng-if="model.type == 'IMAGE'">
            <label class="control-label">Upload from local</label>
            <input type="file" class="form-control" data-icon="false">
        </div>
        <a ng-if="model.type == 'IMAGE'" class="btn btn-primary  btn-block" href="widget-list.html">Upload Image</a>

    <a class="btn btn-danger  btn-block" href="widget-list.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" href="profile.html"></a>
    </div>
</nav>
