<script>

</script>

<script>
    $(document).ready(function(){

    // Sort the parents
    $(".sortable").sortable({
        items: "> div",
        handle: ".move",
        tolerance: "pointer",
        cursor: "move",
        opacity: 0.7,
        revert: 300,
        delay: 100,
        dropOnEmpty: true,
        placeholder: ".movable-placeholder",
        start: function(e, ui) {
            ui.placeholder.height(ui.helper.outerHeight());
        }
    });
})
</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/"></a>
            Widgets
        </div>

        <a class="navbar-brand pull-right" ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
            <span class="glyphicon glyphicon-plus icon-default"></span>
        </a>
    </div>
</nav>


<div class="container" data-as-sortable="model.dragEventListeners" data-ng-model="model.widgets">
   <div data-ng-repeat="widget in model.widgets" data-as-sortable-item>
       <div class="container">
           <div  class="widget-cog-pannel">
               <a class="widget-icon glyphicon glyphicon-cog" ng-href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}/{{widget.type}}"></a>
               <div class="widget-icon glyphicon glyphicon-menu-hamburger move" data-as-sortable-item-handle></div>
           </div>

           <div ng-if="widget.type == 'HEADER'">
               <div ng-if="widget.size == '1'"><h1>{{widget.text}}</h1></div>
               <div ng-if="widget.size == '2'"><h2>{{widget.text}}</h2></div>
               <div ng-if="widget.size == '3'"><h3>{{widget.text}}</h3></div>
               <div ng-if="widget.size == '4'"><h4>{{widget.text}}</h4></div>
               <div ng-if="widget.size == '5'"><h5>{{widget.text}}</h5></div>
           </div>


           <div ng-if="widget.type == 'IMAGE'">
               <img class="widget-image" ng-src="{{widget.url | trustAsRes}}" ng-stlye="width: {{widget.width}}" >
           </div>

           <div ng-if="widget.type == 'YOUTUBE'">
               <iframe class="widget-youtube" ng-src="{{widget.url | trustAsRes}}" allowfullscreen></iframe>
           </div>

           <div ng-if="widget.type == 'HTML'" ng-bind-html="widget.text | trustHTML">
           </div>

           <div ng-if="widget.type == 'TEXT'">
               <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'], ['bold','italics','underline','strikeThrough'],
                    ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                    ['indent','outdent'],['html']]"></div>
               <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                      placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
               <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                         rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                         class="form-control">{{widget.text}}</textarea>
           </div>

       </div>
   </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" href="#/user/{{model.uid}}"></a>
    </div>
</nav>
