<!DOCTYPE html>
<html lang="en">
<head>
    <title>Widget Edit</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    <meta charset="UTF-8">

    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script tpye="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>

    <link href="css/widget-style.css" rel="stylesheet"/>
</head>

<body ng-app="myApp" ng-controller="WidgetController">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="glyphicon glyphicon-chevron-left" href="widget-list.html"></a>
            Widget Edit
        </div>

        <a class="navbar-brand pull-right" href="widget-list.html">
            <span class="glyphicon glyphicon-ok icon-default"></span>
        </a>
    </div>
</nav>


<div class="container">
    <div ng-repeat="mem in HEADING_MEM">
        <label ng-attr-for="{{men}}">{{mem}}</label>
        <input type="text" class="form-control" ng-attr-id="{{mem}}" placeholder="Widget {{mem}}">
    </div>
    <a class="btn btn-danger  btn-block" href="widget-list.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" href="profile.html"></a>
    </div>
</nav>


</body>
</html>