/*--A Design by layouts 
Author: W3layout
Author URL: http://layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner --*/
.banner{
	background: url(../images/6.jpg) no-repeat 0px 0;
    background-size: cover;
    padding: 1em 0 5em;
}
.agile-logo {
    width: 13%;
}
.agile-logo h1{
	margin:0;
}
.agile-logo h1 a{
    color: #FFFfff;
    font-size: .4em;
    letter-spacing: 12px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}
.agile-logo h1 a span{
    display: block;
    font-size: 2em !important;
    font-weight: 700;
    letter-spacing: 6px;
}
.banner-grids {
    margin: 4em 0 0 0;
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.18);
}
.banner-right {
    float: right;
}
.banner-left {
    float: left;
}
.banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
}
.banner-left-info h4,.social-info h4{
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.banner-left-info p{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}
.banner-left-info p a{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
	text-decoration:none;
}
.banner-left-info p a:hover{
	color:#FF9800;
}
.banner-left-info:nth-child(5){
	border:none;
}
.banner-right-img{
    float: left;
    width: 30%;
}
.banner-right-img img{
    width: 100%;
    border: solid 8px #ffffff;
}
.banner-right-info{
    float: right;
    width: 65%;
}
.banner-right-info h2{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.banner-right-info p{
	color:#cecece;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.hvr-button {
    margin: 3em 0 0 0;
}
.hvr-button-info {
    line-height: inherit !important;
}
.hvr-button a{
    padding: .5em 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    text-decoration: none !important;
    line-height: initial !important;
    font-size: .9em !important;
    margin: 0 !important;
}
.hvr-button.hvr-btn-linkedin a{
  background: #0077b5;
}
.hvr-button.hvr-btn-github a{
  background: #46bc99;
}


.hvr-button a:focus{
	outline:none;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

 .hvr-sweep-to-bottom.hvr-sweep-linkedin:before{
  background: #00a0dc;
}

 .hvr-sweep-to-bottom.hvr-sweep-github:before{
  background: #6cc644;
}

.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
	color: #2f2f1f !important;
}

.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.social-grids {
    margin: 2em 0 0 0;
}
.social-info{
	float:left;
	width:20%;
}
.social-info h4 {
    margin: .2em 0 0 0 !important;
}
.agileinfo-social-grids{
    float: left;
    margin:0;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 .5em;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-flickr,.agileinfo-social-grids ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-flickr:hover{
  border: solid 2px #ff0084;
  background:#ff0084;
  color: #FFFFFF;
}
/*-- //banner --*/
/*-- footer --*/
.agileits-layouts-footer{
	padding:1em 0;
	text-align:center;
	background: #0f1215;
    opacity: 0.18;
    background-color:#FFFFFF;
}

.agileits-layouts-footer ul{
    list-style: none;
}

.agileits-layouts-footer li{
    display: inline;
	color:#810082;
	margin:0px 15px 0px 15px;
}
.agileits-layouts-footer li a{
	color:#810082;
    font-size: 1em;
	text-decoration:none;
}
.agileits-layouts-footer li a:hover{
	color:#FF9800;
}
/*-- //footer --*/
/*-- responsive --*/
@media(max-width:1440px){
	#m_nav_menu {
		right: 140px!important;
	}
	.nav-tabs {
		width: 38%;
	}
}
@media(max-width:1366px){
	#m_nav_menu {
		right: 105px!important;
	}
}
@media(max-width:1280px){
	#m_nav_menu {
		right: 61px!important;
	}
	.nav-tabs {
		width: 43%;
	}
}
@media(max-width:1080px){
	.nav-tabs {
		width: 51%;
	}
	.m_nav_item a {
		font-weight: 600 !important;
	}
	#m_nav_container {
		text-align: center !important;
		box-shadow: 0 0 2px #000 !important;
	}
	#m_nav_list {
		margin: 0.5em 0 0 0 !important;
	}
	.nav-tabs {
		margin: 1em auto;
	}
}
@media(max-width:1024px){
	#m_nav_menu {
		right: 33px!important;
	}
	.nav-tabs {
		width: 54%;
	}
}
@media(max-width:991px){
	.ls-banner-left {
		width: 35%;
	}
	.ls-banner-right {
		width: 65%;
	}
	.banner-right-img {
		float: none;
		width: 35%;
	}
	.banner-right-info {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.w3-button {
		margin: 1em 0 0 0;
	}
	.social-info {
		float: left;
		width: 30%;
	}
	#m_nav_menu {
		right: 120px!important;
	}
	.wthree-about-right {
		margin: 2em 0 0 0;
	}
	.statistics-grid2:before {
		left: -38px;
	}
	.statistics-grid2:after {
		right: -38px;
	}
	.experience-grid {
		border-right: none;
	}
	.experience-grid2 {
		border-bottom: solid 1px #999999 !important;
	}
	.m_nav_item a {
		font-size: 1em !important;
	}
	.feedback-grids {
		width: 100%;
	}
	.feedback-top:after {
		left: 10%;
	}
	.w3_tab_img_left {
		float: left;
		width: 25%;
	}
	.styled-input {
		width: 48%;
	}
}
@media(max-width:800px){
	#m_nav_menu {
		right: 31px!important;
	}
	.nav-tabs {
		width: 70%;
	}
}
@media(max-width:736px){
	#m_nav_menu {
		right: 16px!important;
	}
	.agile-statistics-grid {
		float: left;
		width: 33.33%;
	}
	.nav-tabs {
		width: 71%;
	}
	#m_nav_container {
		height: 230px !important;
	}
}
@media(max-width:667px){
	.social-info {
		width: 35%;
	}
	.nav-tabs > li {
		margin: 0 4px;
	}
	.w3_tab_img_left {
		width: 50%;
	}
}
@media(max-width:640px){
	.nav-tabs {
		width: 73%;
	}
}
@media(max-width:568px){
	.social-info {
		width: 40%;
	}
	.agile-statistics-grid p {
		font-size: .9em;
		letter-spacing: 0px;
	}
	.statistics-grid2:before {
		left: -28px;
		width: 32%;
	}
	.statistics-grid2:after {
		right: -28px;
		width: 32%;
	}
	.experience-grid {
		padding: 2em 0;
	}
	.nav-tabs {
		width: 84%;
	}
}
@media(max-width:480px){
	.banner-right-img {
		width: 45%;
	}
	.ls-banner-left {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.ls-banner-right {
		width: 100%;
		float: none;
	}
	.banner-right-img {
		width: 36%;
		margin: 0 auto;
	}
	.l-banner-grids {
		margin: 2em 0 0 0;
	}
	.banner {
		padding: 1em 0 2em;
	}
	.about, .statistics, .experience, .feedback, .projects, .contact {
		padding: 2em 0;
	}
	.agile-statistics-grid {
		float: none;
		width: 100%;
	}
	.statistics-grid2 {
		position: relative;
		margin: 6em 0;
	}
	.statistics-grid2:before {
		left: 216px;
		width: 2px;
		height: 65px;
		top: -77px;
	}
	.statistics-grid2:after {
		right: 215px;
		width: 2px;
		height: 65px;
		top: 200px;
	}
	.nav-tabs > li > a {
		padding: 5px 8px;
	}
}
@media(max-width:414px){
	.wthree-about-left h3, .wthree-about-right h3, .w3-agileits-statistics-heading h3 {
		font-size: 1.5em;
	}
	.agile-statistics-grids {
		margin: 2em 0 0 0;
	}
	.statistics-grid2:before {
		left: 183px;
	}
	.statistics-grid2:after {
		right: 183px;
	}
	.w3-agile-experience-grids {
		margin: 0em 0 0 0;
	}
	.experience-grid {
		padding: 1em 0;
	}
	.nav-tabs {
		width: 95%;
	}
	.nav-tabs {
		margin: 1em auto 0;
	}
	.map-grid iframe {
		height: 200px;
	}
	.styled-input {
		width: 100%;
	}
	.styled-input {
		margin: 1em 0em;
	}
	.styled-input.agile-styled-input-top {
		margin-top: 1em;
	}
	.m_nav_ham {
		width: 25px !important;
		height: 2px !important;
	}
	.m_nav_ham_2_open {
		margin-top: -7px !important;
	}
	.m_nav_ham_1_open {
		margin-top: 11px !important;
	}
}
@media(max-width:384px){
	.statistics-grid2:before {
		left: 170px;
	}
	.statistics-grid2:after {
		right: 170px;
	}
	.nav-tabs > li > a {
		font-size: .87em;
	}
	.contact-form {
		margin: 2em 0 0 0;
	}
}
@media(max-width:375px){
	.statistics-grid2:before {
		left: 162px;
	}
	.nav-tabs > li {
		margin: 3px 4px;
	}
	.w3_tab_img_left {
		width: 100%;
		margin: 1em 0 0 0;
	}
}
@media(max-width:320px){
	.agile-logo {
		width: 50%;
	}
	.agile-logo h1 a {
		font-size: .3em;
	}
	.agile-logo h1 a span {
		font-size: 2.3em !important;
	}
	.banner-right-img {
		width: 60%;
	}
	.ls-banner-right {
		padding: 0;
	}
	.social-info {
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.agileinfo-social-grids {
		float: none;
		margin: 0;
		width: 100%;
	}
	.ls-banner-left {
		padding: 0;
	}
	.agile-statistics-grid i.fa.fa-desktop, .agile-statistics-grid i.fa.fa-user, .agile-statistics-grid i.fa.fa-trophy {
		width: 80px;
		height: 80px;
		padding: 1.2em 0 0 0;
	}
	.statistics-grid2:before {
		left: 135px;
	}
	.statistics-grid2:after {
		right: 135px;
		top: 181px;
	}
	.experience-grid-icon i.fa.fa-folder-open, .experience-grid-icon i.fa.fa-bell, .experience-grid-icon i.fa.fa-comments, .experience-grid-icon i.fa.fa-asterisk {
		width: 80px;
		height: 80px;
		padding: .7em 0 0 0;
	}
}