<!DOCTYPE html>
<html lang="en">
<head>
    <title>Widgets</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
    <meta charset="UTF-8">

    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script tpye="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>

    <link href="css/widget-style.css" rel="stylesheet"/>
</head>
<body ng-app="myApp" ng-controller="WidgetController">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a class="glyphicon glyphicon-chevron-left" href="page-list.html"></a>
                Widgets
            </div>

            <a class="navbar-brand pull-right" href="widget-choose.html">
                <span class="glyphicon glyphicon-plus icon-default"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container">
   <div ng-repeat="widget in widgets">
       <div class="container">
           <div  class="widget-cog-pannel">
               <a class="widget-icon glyphicon glyphicon-cog" ng-href="widget-{{widget.type}}.html"></a>
               <a class="widget-icon glyphicon glyphicon-menu-hamburger" ></a>
           </div>

           <div ng-if="widget.type == TYPE.HEADING">
               <h2>{{widget.content}}</h2>
           </div>

           <div ng-if="widget.type == TYPE.IMAGE">
               <img class="widget-image" ng-src="{{widget.content}}" >
           </div>

           <div ng-if="widget.type == TYPE.YOUTUBE">
               <iframe class="widget-youtube" ng-src="{{widget.content | trustUrl}}" allowfullscreen></iframe>
           </div>

       </div>
   </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container－fluid">
        <a class="glyphicon glyphicon-user navbar-brand pull-right" href="profile.html"></a>
    </div>
</nav>


</body>
</html>